*{
	padding: 0;
	margin: 0;
}

#divcontainer{
	margin-right: 5%;
	margin-top: 15px;
	margin-left: 5%;
	margin-bottom: 15px;
	height: 300px;
	width: 89%;
	position: relative;
	border-top: 0.5px solid #B3B3B3;
	border-left: 10px solid #d02130;
	border-right: 0.5px solid #B3B3B3;
	border-bottom: 0.5px solid #B3B3B3 ;
	float: left;
	display: block;
	font-family: Segoe UI;
	font-size: 15px;
	color: #4d4d4d;
}

.info {
	margin-top: 30px;
	width: 20%;
	position: relative;
	float:left;
	height: 250px;
	
	}

#button {
	position: relative;
	width: 10%;
	float: left;
	height: 250px;
	margin-top: 30px;
}

#descricao {
	width: 30%;
	position: relative;
	float: left;
	height: 250px;
	margin-top: 30px;
	margin-left: 5px;
}

#campoImagemadm {
	margin-top: 30px;
	width: 15%;
	position: relative;
	float: left;
	height: 250px;
}

#imagemadm {
	width: 80%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}

.infoitem {
	margin-left:5%;
	height: 62.5px;

	
}

.buttonitem {
	height: 125px;
	position: relative;
}

.icone {	
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	width: 30%
}


#campoMensagem {
	margin-top: 15px;
	position: relative;
	width: 45%;
	margin-left: 5%;
	height: 50px;
	float: left;
	border-radius:5px;
}
#mensagem {
	position: relative;
	width: 90%;
	margin-left: 15%;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 18px;
	font-family: Segoe UI;
	color: #4CAF50;
}

#novoProduto {
	margin-top: 15px;
	position: relative;
	width: 45%;
	height: 50px;
	float: right;
	margin-right: 5%;
}

#novolink {
	position: relative;
	width: 50%;
	margin-left: 42%;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 20px;
	font-family: Segoe UI;
}

#link {
	color: #4CAF50;
	text-decoration: none;
}

#erro{
	position: relative;
	width: 90%;
	margin-left: 15%;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 18px;
	font-family: Segoe UI;
	color: #d02130;
}

#marcacao {
	color:#d02130;
}	