*{
    margin: 0;
    padding: 0;
}
#total {
    height: 150px;
    font-family: Segoe UI;
    font-size: 15px;
    color: grey;
    width: 70%;
    margin-right:15%;
    margin-left:15%;
    border-left: #d02130 solid 10px;
    border-bottom: grey 0.5px solid;
    border-top: grey 0.5px solid;
    border-right: grey 0.5px solid;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}

.info {
    position:relative;
    width:30%;
    float: left;
    height: 150px;
}

.infoitem {
    height: 30px;
    color: grey;
    margin-left: 10%;
}

.nome {
    position:relative;
    width:50%;
    float: left;
    height: 150px;

}

.nomeitem {
    height: 75px;
    margin-left: 10%;
}

.funcao {
    position:relative;
    width:20%;
    float: left;
    height: 75px;
    
}

.funcaoitem {
    height: 37px;
}

.titulo {
    margin-left: 10%;
    color: #d02130
}

.icone{
    height: 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;  
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}


#subcampo {
    width: 70%;
    margin-left:15%;
    margin-bottom: 15px;
    padding: 60px;
}

#camporight {
    position: relative;
    float: right;
    width: 50%;
    margin-top: 15px;
}

#campoleft {
    position: relative;
    float: left;
    width: 50%;
    margin-top: 15px;
}


#newusuario {
    margin-left:35%;;
    position:relative;
    text-decoration: none;
    color: #4CAF50;
    font-family: Segoe UI;
}

#erro{
    font-family: Segoe UI;
    color: #d02130;
    margin-left: 30%;
}
#mensagem {
    font-family: Segoe UI;
    color: #4CAF50;
   
}